{% extends "admin/admin.html.twig" %}

{% block body %}
	<p>
		<a class="btn btn-success" href="{{ path('admin.recipe.create')}}">Crée une recette</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for recipe in recipes %}
				<tr>
					<td>
						<a href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">{{ recipe.getTitle()}}</a>
					</td>
					<td>
						<div class="d-flex gap-1">
							<a class="btn btn-primary btn-sm" href="{{ path('admin.recipe.edit', {id: recipe.id}) }}">Editez</a>
							<form action="{{ path('admin.recipe.delete', {id: recipe.id}) }}" method="POST">
								<input type="hidden" name="_method" value="DELETE">
								<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
							</div>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
